body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.banner{
    background-color: #1AB6F9;
    padding: 20px;  
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    color: white;
    /* box-shadow: 10px 10px 10px lightslategray; */
  }

  .grid{
    display: flex;
    overflow-y: hidden;

  }

  .block1{
    width: 50%;
    margin:10px;
    margin-top: 15px;
    padding: 20px;
    height: 83vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally within the container */
    justify-content: flex-end; /* Pushes the button to the bottom of the container */
    background-color: #ebedeb;
  }

  .block2{
    width: 50%;
    margin:10px;
    margin-top: 15px;
    padding: 20px;
    height: 83vh;
    border-radius: 10px;
    background-color: #ebedeb;
    overflow-y: scroll;
  }

  .block3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    margin: 10px;
    margin-top: 80px;
    margin-left: 10px;
    margin-bottom: 170px;
    padding: 20px;
    height: 40vh;
    width: 75vh;
    border: 3px solid #000;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(58, 58, 58);
    background-color: #bababac5;
  }

  .block4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    text-align: center;
  }

  .gif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
  }

  .choose-file{
    width: 70%;
  }

  .input-button{
    background-color: #1AB6F9;
    color: white;
    border: 3px solid #1AB6F9;
    border-radius: 10px;
    margin-top: 15px;
    width: 70px;
    transition: background-color 0.3s ease-in-out;
  }

  .lists-layout {
    background-color: #bababac5;
    margin: 20px;
    padding: 15px;
    border-color: #bababac5;
    border-radius: 10px;
    overflow-y: scroll;
  }

  .answer-explanation {
    margin-top: 10px;
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    padding: 7px;
    color: rgba(0, 0, 0, 0);
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition-delay: 50ms; 
    animation-fill-mode: backwards;
  }

  .answer-explanation:hover {
    display: block; /* or any other desired display value upon hover */
    background-color: #bababac5;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition-delay: 50ms; 
    animation-fill-mode: backwards;
  }

  .input-button:hover {
    display: block; /* or any other desired display value upon hover */
    background-color: #2980b9;
  }

  .container {
    display: flex;
    /* flex-flow: column wrap; */
  }

  .head {
    /*margin: 10px;*/
    font-size: 40px;
    margin-left: 10px;
  }